<!DOCTYPE html>
<html>
<head>
  <title></title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
<script type="text/javascript" src="/stylesheets/landing.js"></script>

</head>
<body>

</body>
</html>



<div class="container">
  <section class="background">
    <div class="content-wrapper">
      <p class="content-title">ASCEND</p>
      <p class="content-subtitle">Shatter the glass walls, anchor yourself and ascend to a better version of yourself</p>
      <div class="center1"><button class="button"><a href="/login">Login </a></button></div>
      <div class="center2"><button class="button"><a href="/signup">Sign Up</a></button></div>
    </div>
  </section>
  <section class="background">
    <div class="content-wrapper">
      <p class="content-title">Present</p>
      <p class="content-subtitle">Be aware of how you are feeling at the present moment. When you look into the river,you are out of it.</p>
    </div>
  </section>
  <section class="background">
    <div class="content-wrapper">
      <p class="content-title">Stories</p>
      <p class="content-subtitle">Each on of us has a story to tell. Learn from inspirational stories from around the world and share your own.</p>
    </div>
  </section>

</div>