<!DOCTYPE html>
<html>
<head>
  <title>depression score</title>
  <style>
    #rd {
  /*background: url(https://tse3.mm.bing.net/th?id=OIP.ZTKqSQ-dB-6fpT_PVa_IRgHaEY&pid=Api&P=0&w=299&h=178);*/
  background-color: black;
  background-repeat: no-repeat;
  background-size: auto;
}
</style>

</head>
<body id="rd">
  <center><h1>please mark number honsetly so we can help you </h1><center>
<label for="cars1">I feel down hearted and blue:  </label>

<select id="cars1">
  <option value="1">A little of the time(1)</option>
  <option value="2">Some of the time(2)</option>
  <option value="3">Good part of the time(3)</option>
  <option value="4">Most of the time(4)</option>
</select><br><br>
<label for="cars2">In morning i feel best:</label>

<select id="cars2">
  <option value="4">A little of the time(4)</option>
  <option value="3">Some of the time(3)</option>
  <option value="2">Good part of the time(2)</option>
  <option value="1">Most of the time(1)</option>
</select><br><br>
<label for="cars3">I have crying spells or feel like it:</label>

<select id="cars3">
  <option value="1">A little of the time(1)</option>
  <option value="2">Some of the time(2)</option>
  <option value="3">Good part of the time(3)</option>
  <option value="4">Most of the time(4)</option>
</select><br><br>
<label for="cars3">I have trouble sleeping at night:</label>

<select id="cars3">
  <option value="1">A little of the time(1)</option>
  <option value="2">Some of the time(2)</option>
  <option value="3">Good part of the time(3)</option>
  <option value="4">Most of the time(4)</option>
</select><br><br>
<label for="cars2">I eat as much as is used to:</label>

<select id="cars2">
  <option value="4">A little of the time(4)</option>
  <option value="3">Some of the time(3)</option>
  <option value="2">Good part of the time(2)</option>
  <option value="1">Most of the time(1)</option>
</select><br><br>
<label for="cars2">I still enjoy:</label>

<select id="cars2">
  <option value="4">A little of the time(4)</option>
  <option value="3">Some of the time(3)</option>
  <option value="2">Good part of the time(2)</option>
  <option value="1">Most of the time(1)</option>
</select><br><br>
<label for="cars3">I notice that i am losing weight:</label>

<select id="cars3">
  <option value="1">A little of the time(1)</option>
  <option value="2">Some of the time(2)</option>
  <option value="3">Good part of the time(3)</option>
  <option value="4">Most of the time(4)</option>
</select><br><br>
<label for="cars3">I have trouble with constipation :</label>

<select id="cars3">
  <option value="1">A little of the time(1)</option>
  <option value="2">Some of the time(2)</option>
  <option value="3">Good part of the time(3)</option>
  <option value="4">Most of the time(4)</option>
</select><br><br>
<label for="cars3">My heart beats faster than usual :</label>

<select id="cars3">
  <option value="1">A little of the time(1)</option>
  <option value="2">Some of the time(2)</option>
  <option value="3">Good part of the time(3)</option>
  <option value="4">Most of the time(4)</option>
</select><br><br>
<label for="cars3">I get tired for no reason :</label>

<select id="cars3">
  <option value="1">A little of the time(1)</option>
  <option value="2">Some of the time(2)</option>
  <option value="3">Good part of the time(3)</option>
  <option value="4">Most of the time(4)</option>
</select><br><br>
<label for="cars2">My mind is as clear as it used to be:</label>

<select id="cars2">
  <option value="4">A little of the time(4)</option>
  <option value="3">Some of the time(3)</option>
  <option value="2">Good part of the time(2)</option>
  <option value="1">Most of the time(1)</option>
</select><br><br>
<label for="cars2">I find it easy to do the things I used to:</label>

<select id="cars2">
  <option value="4">A little of the time(4)</option>
  <option value="3">Some of the time(3)</option>
  <option value="2">Good part of the time(2)</option>
  <option value="1">Most of the time(1)</option>
</select><br><br>
<label for="cars3">I am restless and can't keep still :</label>

<select id="cars3">
  <option value="1">A little of the time(1)</option>
  <option value="2">Some of the time(2)</option>
  <option value="3">Good part of the time(3)</option>
  <option value="4">Most of the time(4)</option>
</select><br><br>
<label for="cars2">I feel hopeful about the future:</label>

<select id="cars2">
  <option value="4">A little of the time(4)</option>
  <option value="3">Some of the time(3)</option>
  <option value="2">Good part of the time(2)</option>
  <option value="1">Most of the time(1)</option>
</select><br><br>
<label for="cars3">I am more irritable than usual  :</label>

<select id="cars3">
  <option value="1">A little of the time(1)</option>
  <option value="2">Some of the time(2)</option>
  <option value="3">Good part of the time(3)</option>
  <option value="4">Most of the time(4)</option>
</select><br><br>
<label for="cars2">I find it easy to make decisions:</label>

<select id="cars2">
  <option value="4">A little of the time(4)</option>
  <option value="3">Some of the time(3)</option>
  <option value="2">Good part of the time(2)</option>
  <option value="1">Most of the time(1)</option>
</select><br><br>
<label for="cars2">I feel that i am useful and needed:</label>

<select id="cars2">
  <option value="4">A little of the time(4)</option>
  <option value="3">Some of the time(3)</option>
  <option value="2">Good part of the time(2)</option>
  <option value="1">Most of the time(1)</option>
</select><br><br>
<label for="cars2">My life is pretty full:</label>

<select id="cars2">
  <option value="4">A little of the time(4)</option>
  <option value="3">Some of the time(3)</option>
  <option value="2">Good part of the time(2)</option>
  <option value="1">Most of the time(1)</option>
</select><br><br>
<label for="cars3">I feel that others would be better off if I were dead  :</label>

<select id="cars3">
  <option value="1">A little of the time(1)</option>
  <option value="2">Some of the time(2)</option>
  <option value="3">Good part of the time(3)</option>
  <option value="4">Most of the time(4)</option>
</select><br><br> 
<label for="cars2">I still enjoy the things I used to do:</label>

<select id="cars2">
  <option value="4">A little of the time(4)</option>
  <option value="3">Some of the time(3)</option>
  <option value="2">Good part of the time(2)</option>
  <option value="1">Most of the time(1)</option>
</select><br><br>             



</body>
</html>