<% include partials/header %>

<h2 class="title">Motivational Videos</h2>
<div class="wrapper">
  <section id="section1">
    <a href="#section3" class="arrow__btn">‹</a>
    <div class="item">
    <iframe width="320" height="200" src="https://www.youtube.com/embed/UF8uR6Z6KLc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
   <iframe width="320" height="200" src="https://www.youtube.com/embed/wHGqp8lz36c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
  <iframe width="320" height="200" src="https://www.youtube.com/embed/lYGGpc2mMno" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
   <iframe width="320" height="200" src="https://www.youtube.com/embed/u0eJRXOOikg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
    <iframe width="320" height="200" src="https://www.youtube.com/embed/W5tlGJwvmCQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <a href="#section2" class="arrow__btn">›</a>
  </section>
  <section id="section2">
    <a href="#section1" class="arrow__btn">‹</a>
    <div class="item">
   
  </div>
    <div class="item">
    <iframe width="320" height="200" src="https://www.youtube.com/embed/6P2nPI6CTlc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
   <iframe width="320" height="200" src="https://www.youtube.com/embed/xnLoToJVQH4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
    <iframe width="320" height="200" src="https://www.youtube.com/embed/7sxpKhIbr0E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
    <iframe width="320" height="200" src="https://www.youtube.com/embed/rrBPoVOawFc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <a href="#section3" class="arrow__btn">›</a>
  </section>
  <section id="section3">
    <a href="#section2" class="arrow__btn">‹</a>
    <div class="item">
    <iframe width="320" height="200" src="https://www.youtube.com/embed/mjmK8aJu5Qg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
   <iframe width="320" height="200" src="https://www.youtube.com/embed/TFbv757kup4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
    <iframe width="320" height="200" src="https://www.youtube.com/embed/dww3Oo8ropA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
    <iframe width="320" height="200" src="https://www.youtube.com/embed/xGJXR8W_7e0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
    <iframe width="320" height="200" src="https://www.youtube.com/embed/3sK3wJAxGfs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <a href="#section1" class="arrow__btn">›</a>
  </section>
</div>




<% include partials/footer %>